

<form>
    <style>
        label{
            text-align: center;
            display: inline-block;
            width: 175px;
            margin-bottom: 23px;
            margin-left: 42px;
        }
        button{
            text-align: center;
          margin-left: 40px;
          margin-right: 50px;
        }
        div{
             text-align: center;

        }  
        </style>
        <div>
            <h1>Login Form</h1>
            <label for="email">Email</label>
            <input type="text"placeholder="Enter your email" email="email" id="email">
            <br>
            <label for="password">Password</label>
            <input type="text"placeholder="Enter your password" password="password" id="password">      
<br>
<button>Submit</button>
<button>Cancel</button>
</div>
</form>