<form>
    <style>
        label{
            text-align: center;
            display: inline-block;
            width: 100px;
            margin-bottom: 100px;
            margin-left: 80px;

        }
        button{
            text-align: center;
            margin-left: 58px;
            margin-right: 20px;

        }
        div{
            text-align: center;

        }

    </style>
    <div>
        <h1>Add Task</h1><br><br>
        <label for="add task">Task Name</label>
        <input type="text"placeholder="Enter your task name" add task="add task" id="add task">
        <br>
        <button>Submit</button>
<button>Reset</button>
</div>
    </form>
